<div class="pills-bar">
    <div class="btn">
        <span class="material-symbols-rounded">category</span>
        <span class="label">Category</span>
    </div>
    <div class="btn">
        <span class="material-symbols-rounded">flight</span>
        <span class="label">Flight</span>
    </div>
    <div class="btn">
        <span class="material-symbols-rounded">description</span>
        <span class="label">Bill</span>
    </div>
    <div class="btn">
        <span class="material-symbols-rounded">language</span>
        <span class="label">Data Plan</span>
    </div>
    <div class="btn">
        <span class="material-symbols-rounded">monetization_on</span>
        <span class="label">Top Up</span>
    </div>
</div>
