<div class="ratings-container">
    <div class="rating">
        <span class="rating-num">4.0</span>
        <span class="rating-total"> /5.0</span>
        <div class="rating-stars">
            <span class="material-symbols-rounded filled">star</span>
            <span class="material-symbols-rounded filled">star</span>
            <span class="material-symbols-rounded filled">star</span>
            <span class="material-symbols-rounded filled">star</span>
            <span class="material-symbols-rounded filled">star_half</span>
        </div>
        <div class="rating-users">
            2.3k+ Reviews
        </div>
    </div>
    
    <div class="bars">
        <div class="five bars-rate">
            <span class="material-symbols-rounded filled">star</span>
            5
            <span class="bar-block">
                <span id="bar-five" class="bar"></span>
                <span class="bar bar-bg">
                </span>
            </span>
            <span>1.5k</span>

        </div>
    
        <div class="four bars-rate">
            <span class="material-symbols-rounded filled">star</span>
            4
            <span class="bar-block">
                <span id="bar-four" class="bar">
                </span>
                <span class="bar bar-bg">
                </span>
            </span>
            <span>1.5k</span>

        </div>
    
        <div class="three bars-rate">
            <span class="material-symbols-rounded filled">star</span>
            3
            <span class="bar-block">
                <span id="bar-three" class="bar">
                </span>
                <span class="bar bar-bg">
                </span>
            </span>
            <span>1.5k</span>

        </div>
    
        <div class="two bars-rate">
            <span class="material-symbols-rounded filled">star</span>
            2
            <span class="bar-block">
                <span id="bar-two" class="bar">
                </span>
                <span class="bar bar-bg">
                </span>
            </span>
            <span>1.5k</span>

        </div>
    
        <div class="one bars-rate">
            <span class="material-symbols-rounded filled">star</span>
            1
            <span class="bar-block">
                <span id="bar-one" class="bar">
                </span>
                <span class="bar bar-bg">
                </span>
            </span>
            <span>1.5k</span>
        </div>
    </div>
</div>
