/* You can add global styles to this file, and also import other style files */

:root {
    --primary: #53a897;
    --secondary: #2b2d41;
    --primary-light: #72b9ab;
    --secondary-light: #44465c;
    --white: #ffffff;
    --text-dark: #202020;
    --text-light: #787c86;
    --pink: #e55986;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: 'Hanken Grotesk', sans-serif;
}

html,
body {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: var(--white);
    color: var(--text-dark);
}

.material-symbols-rounded {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
}

.material-symbols-rounded.filled {
    font-variation-settings:
        'FILL' 1,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
}

@keyframes slideAndFadeIn {
    0% {
        opacity: 0;
        margin-top: 50%;
    }

    100% {
        opacity: 1;
        margin-top: 0;
    }
}

router-outlet+* {
    display: block;
    /* Change display inline to block */
    animation: slideAndFadeIn 0.5s;
}