main {
    padding-top: 75px;
    padding-bottom: 65px;
}

.product-container {
    position: relative;
    margin: 0 auto;
    width: 90%;
}

.product-image {
    width: 100%;
    height: 370px;
    border-radius: 8px;
    object-fit: cover;
    transition: all 0.15s;
}

.product-tiles {
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 5;
    top: 10px;
    left: 10px;
}

.product-tile-image {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 4px;
    margin: 4px;
    cursor: pointer;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.selected-tile {
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}


.product-container .store {
    display: flex;
    align-items: center;
    color: var(--text-light);
    padding: 0.5rem 0;
}

.product-container .material-symbols-rounded {
    font-size: 12px;
}

.product-container .store .store-name {
    margin-left: 4px;
    font-size: 14px;
    line-height: 14px;
}

.product-container .title {
    font-size: 24px;
    font-weight: 500;
    display: block;
    display: -webkit-box;
    line-height: 1.4;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.product-details {
    display: flex;
    justify-content: space-between;
}

.product-details .stats {
    color: var(--text-light);
    display: flex;
    align-items: center;
    padding: 0.5rem 0;
    gap: 0.5rem;
}

.product-details .stats .list {
    display: list-item;
    list-style-type: disc;
}

.product-details .stats .material-symbols-rounded {
    color: #f6a341;
}

table {
    width: 100%;
}

table th, table td {
    text-align: left;
    font-size: 14px;
}

table th {
    font-weight: 300;
    color: var(--text-light);
}

table td {
    font-weight: 500;
}

.store-name {
    color: var(--text-light);
    display: flex;
    align-items: center;
    font-size: 14px;
}

.title {
    font-size: 18px;
    font-weight: 700;
}

hr {
    border-top: 1px solid #c8c8c8;
}

.description {
    font-size: 14px;
    font-weight: 300;
    color: var(--text-light);
}

.review-images {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.review-images img {
    width: 23%;
    height: 10%;
    object-fit: cover;
    border-radius: 1rem;
}

.top-reviews {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1rem;
    height: fit-content;
    align-items: center;
}

.top-reviews .reviews-filter {
    display: flex;
    flex-direction: column;
    height: fit-content;
}

.top-reviews .reviews-filter h4 {
    margin-bottom: 0.2rem !important;
}

.top-reviews .reviews-filter span {
    font-size: 14px;
    font-weight: 300;
    color: var(--text-light);
}

.top-reviews select {
    border: 0.4px var(--text-light) solid;
    outline: var(--text-light);
    background-color: transparent;
    font-size: 14px;
    font-weight: 300;
    color: var(--text-light);
    border-radius: 1rem;
    height: fit-content;
    padding: 0.5rem 1rem;
}

.bullet {
    border-radius: 50%;
    /* width: 1px;
    height: 1px; */
}


.fadeIn {
    opacity: 1;
}

@keyframes fadeIn {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

.fadeOut {
    opacity: 0;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
